@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateX(30px);
    }
}

@keyframes inputAttn {
    from {
        background-color: #f24d6e;
    }
}

@keyframes refreshItens {
    from {
        opacity: 0;
    }
}


* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: clamp(315px, 95vw, 990px);
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-color: #312c2b;
    color: #c4c4c4;
}

h1 {
    font-size: 3rem;
}

header {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

input {
    height: 60px;
    flex: 70%;
    padding-left: 30px;
    font-size: 1.2rem;
    border: .7px solid #8dc26f;
    color: #312c2b;
}

input:focus {
    outline: none;

}

input::placeholder {
    opacity: .3;
}

button.btn-add {
    cursor: pointer;
    height: 60px;
    flex: 15%;
    border: none;
    background-color: #8dc26f;
    font-size: 1.2rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn-add:hover {
    transition: .5s ease;
    background-color: #be7be7;
}

button.btn-save {
    cursor: pointer;
    height: 60px;
    flex: 15%;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: #7be7de;
    font-size: 1.2rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn-save:hover {
    transition: .5s ease;
    background-color: #be7be7;
}


.main {
    width: 85vw;
    max-width: 890px;
    margin: 10px auto;
    list-style: none;
    padding: 0;
}

.main li {
    display: flex;
    flex-flow: column;
    margin-bottom: 13px;
}

.date {
    align-self: flex-start;
    font-size: .7rem;
    margin: 3px;
    opacity: 0;
}

.item {
    display: flex;
    flex-flow: row;
    gap: 5px;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: auto;
    margin: 5px auto;
    padding: 10px;
    background-color: #312c2b;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
}

.item-text {
    flex: 70%;
    text-align: left;
    font-size: 1rem;
}

.item-icon {
    cursor: pointer;
    font-size: 1rem;
}

.btn-delete {
    cursor: pointer;
    border: none;
    font-size: 1rem;
    color: #f24d6e;
}

.item-done {
    background-color: #23212c;
}

.item-done .item-icon {
    color: #8dc26f;
}

.item-done .item-text {
    color: #716c6b;
    text-decoration: line-through;
}

.fade-in {
    animation: fadeIn .5s ease var(--delay, 0s) forwards;
}

.fade-out {
    animation: fadeOut .5s ease forwards;
}

.input-attn {
    animation: inputAttn 1s ease;
}

.refresh-itens {
    animation: refreshItens 1s ease;
}

.wrapper-switch {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 5px;
    align-self: flex-end;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    border-radius: 12px;
    background-color: #a8a8a8;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 2px;
    border-radius: 50%;
    background-color: #f24d6e;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch input:checked+.slider {
    background-color: #be7be7;
}

.switch input:checked+.slider::before {
    background-color: #7be7de;
}

.switch input:checked+.slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

@media screen and (max-width: 576px) {
    .item-icon {
        font-size: 2rem;
    }

    .btn-delete {
        font-size: 2rem;
    }

    .item-text {
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 480px) {
    input {
        width: 200px;
    }
}